flake8==4.0.1
black==22.3.0
types-setuptools==57.4.17
pytest==7.0.1
build==0.7.0
twine==3.8.0
isort==5.10.1
sphinx==4.4.0
pandas==1.4.2
SQLAlchemy==1.4.37
tabulate==0.8.9
types-tabulate==0.8.9
sqlparse==0.4.2
ipython==8.4.0
mypy==0.961
# pypandoc==1.7.2
#sphinx-pypi-upload==0.2.1

